body {font-family: arial, helvetica, sans-serif; /*Georgia, "Times New Roman", Times;*/
      font-size: 110%;
      margin-left: 2%; margin-right: 2%; background-color: white;
     }

td {
    vertical-align: top;
}

A {text-decoration: none;}
A:link {text-decoration: none;}
A:hover {text-decoration: none;}
A:visited {text-decoration: none;}
.footer {text-align: right; color: gray; margin-right: 2%}

.button {
    background-color: #090909;
    color: #FFFFFF;
    float: right;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.tright {
    text-align: right;
}

.centered {
    text-align: center;
}

.floatright {
    float: right;
}

.yellowbg {
    background-color: #FFFF80;
}

input[type=checkbox] {
  -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(3); /* Safari and Chrome */
  -o-transform: scale(3); /* Opera */
  border: 2px inset ThreeDFace ! important;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  width: 20px;
  height:20px;
  color: #f10;
}
